@font-face {
    font-family: 'type-A';
    src: url('./type-A.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'WixMadeforDisplay-Regular';
    src: url('./WixMadeforDisplay-Regular.ttf');
    font-weight: 400;
}